[submodule "ec2-zone-nginx-api-gateway"]
	path = ec2-zone-nginx-api-gateway
	url = git@github.com:song-cpe/architecture-001-nginx-api-gateway.git
[submodule "ec2-zone-stubby-api"]
	path = ec2-zone-stubby-api
	url = git@github.com:song-cpe/architecture-001-stubby4j-java.git
[submodule "flow-authentication"]
	path = flow-authentication
	url = git@github.com:song-rit/authentication-flow.git
[submodule "flow-authorization-token"]
	path = flow-authorization-token
	url = git@github.com:song-rit/authorization-token-flow.git
[submodule "flow-authorization-access-resource"]
	path = flow-authorization-access-resource
	url = git@github.com:song-rit/authorization-access-resource.git
